# Sionna is the core library for 3GPP channel models
sionna
tqdm
# Pandas is used for data analysis and saving results to CSV
pandas
# Matplotlib is used for plotting the results
matplotlib
scipy
seaborn